<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="captionForm" value="Programa de Test Carga Archivos"/>
		<add key="defPathFName" value="C:\Users\garfi\Documents\Trash\ArchSubir\ArchivoCargarDatosCltes.xlsx"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProcessFileToDBSrv" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50329/ProcessFileToDBSrv.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProcessFileToDBSrv"
                contract="ProcessFileSrvRef.IProcessFileToDBSrv" name="BasicHttpBinding_IProcessFileToDBSrv" />
        </client>
    </system.serviceModel>
</configuration>